/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}


ul {
  list-style: none;

  width: 100%;
}

/* Utilities */
.container {
  max-width: 70%;
  height: 100%;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;

}

/* Text Styles*/


.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}



.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}


/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}


.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}


.btn:hover {
  opacity: 0.8;
}

.bg-light {
  border: #ccc solid 1px;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.profileBackground{
  
  background-image: url('./images/Diana.jpg');
  height: 100%;

}
.profileHeader{
  text-align: center;
  font-size: 25px;
}

.inlineIcon{
  height: 1.2em;
  width: 1.2em;
}


/* Forms */


.form .form-group {
  margin: 1.2rem 0;
}

.form-text{
  display: block;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}


.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.fullBackground{
  position: absolute;
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

}


/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  

  /* Profile Page */

  .profile img {
    width: 200px;
    margin: auto;
  }
}
/* PROFILE */

.profile {
    display:grid;
    grid-template-columns: 2fr 4fr 2fr;
    text-align: center;
}

.scale{
  width:80%;
  height: auto;
  margin:auto;
}

/* PROFILES */
.container{
  margin:auto;
  margin-top: 100px;
  max-width: 50%;
  max-height: 50%;
  text-align: center;
}

.center{
  margin:auto;
}

/* index */

/* Landing Page */
.landing {
  position: relative;
  background: url('images/Diana.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: white;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.flex-parent {
    display: flex;
}

.flex-child {
    flex: 1;
}

.round {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}

.vertical-center {
    vertical-align: middle;
}

.results {
    margin-top: 10px;
}

.space-out {
    margin: 13px;
}